@import './variables.scss';

body {
  padding: 0;
  margin: 0;
  font-family: GothamHTF-Book;
}

.App {
  width: 100vw;
  overflow: hidden;
}

@font-face {
    font-family: GothamHTF-Bold;
    src: url("./fonts/GothamHTF-Bold.otf") format("opentype");
}
@font-face {
    font-family: GothamHTF-Book;
    src: url("./fonts/GothamHTF-Book.otf") format("opentype");
}
@font-face {
    font-family: GothamHTF-BookItalic;
    src: url("./fonts/GothamHTF-BookItalic.otf") format("opentype");
}
@font-face {
    font-family: GothamHTF-Medium;
    src: url("./fonts/GothamHTF-Medium.otf") format("opentype");
}
.font-medium {
  font-family: GothamHTF-Medium;
}
.font-bold {
  font-family: GothamHTF-Bold;
}
.font-italic {
  font-family: GothamHTF-BookItalic;
}
.font-os {
  font-family: "Open Sans";
}

.uppercase {
  text-transform: uppercase;
}

.center {
  display: flex;
  justify-content: center;
}

.vertical-center {
  display: flex;
  align-items: center;
  height: 100%;
}

.ta-center {
  text-align: center;
}

.spaced {
  white-space: pre;
}

.container-fluid, .col-xs-12, .col-xs4 {
  padding: 0 !important;
}

.row {
  margin: 0 !important;
}

.bg-img {
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

input:focus, textarea:focus {
  outline: none;
}

input[type=text], select {
  box-sizing: border-box;
  padding: 12px 0px;
  display: inline-block;
  border-width: 0 0 1px 0;
  border-style: solid;
  background-color: transparent;
  font-family: GothamHTF-Book;
}

input[type=submit] {
  box-sizing: border-box;
  background-color: transparent;
  padding: 12px 10%;
  margin: 8px 0;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  margin-left: 5px;
  font-family: GothamHTF-Bold;
  text-transform: uppercase;
}

#header {
  width: 100vw;
  height: 125px;
  border-bottom: 1px solid $grayD;
  margin-bottom: 30px;
  .top-bar {
    height: 35px;
    background-color: black;
    color: white;
    font-size: 0.6em;
    letter-spacing: 1px;
  }
  .bottom-area {
    height: 90px;
    font-size: 12px;
  }
  .rings svg {
    position: absolute;
    width: 75px; 
  }
  .header-left-area {
    margin-left: 10px;
    span {
      margin-left: 2.778vw;
    }
  }
  .header-right-area {
    display: flex;
    justify-content: flex-end;
    span {
      margin-right: 2.639vw;
    }
  }
  .icon {
    margin-right: 1.3889vw;
    height: 26px;
    width: auto;
  }
  .icons {
    margin-right: 30px;
  }
  .xs-menu {
    display: none;
  }
}

#feats-deets {
  display: flex;
  #prod-details {
    margin: 0 3.472vw;
    width: 27.78vw;
  }
  #features {
    width: 61.8vw;
    margin-right: 3.472vw;
    margin-bottom: 22px;
    .slick-dots {
      padding: 0;
      bottom: -4.52vw;
    }
    .slick-thumb {
      img, li {
        height: 4.17vw;
        width: 5.55vw;
        margin: 0;
      }
      li {
        margin-right: 0.38vw;
      }
      .slick-active  {
        border: 2px solid $green;
      }
    }
    .slick-arrow {
      background-color: transparent;
      z-index: 100;
    }
    .slick-prev {
      left: 8px;
    }
    .slick-next {
      right: 8px;
    }
    .bg-img {
      width: 100%;
      height: 37.15vw;
    }
  }
}

#recProds {
  margin: 0 0 80px 0;
  padding: 35px 3.47vw;
  background-color: $grayF;
  font-family: GothamHTF-Medium;
  color: $grayX;
  h2 {
    padding: 10px 0 25px 0;
  }
}
.rec-sec {
  .bg-img {
    width: 22vw;
    height: 26.2vw;
    .tag-text {
      position: absolute;
      margin: 0.42vw;
      padding: 6px;
      background-color: white;
      text-transform: uppercase;
      font-size: 0.5em;
    }
    &:hover:after {
      background-color: white;
      opacity: 0.12;
      z-index: 10;
    }
    &:after {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
  }
  .rec-caption {
    h5, h6 {
      margin: 7px 0 0 0;
      padding:0;
    }
    h5 {
      color: $grayX;
    }
    h6 {
      color: $medGray;
    }
  }
}

#footer {
  font-size: 0.7em;
  white-space: nowrap;
  input {
    border-color: $footerGray;
    color: $footerGray;
  }
  .footer-top {
    margin: 0 !important;
    height: 57px;
    color: $grayC;
    background-color: $grayF;
    display: flex;
    width: 100%;
  }
  .footer-top > div {
    height: 30px;
    align-items: center;
    border-right: 1px solid $grayC;
    &:last-child {
      border:none;
    }
  }
  .footer-middle {
    background-color: black;
    color: $footerGray;
    min-height: 200px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    h4 {
      text-transform: uppercase;
      font-family: GothamHTF-Bold;
      margin-top: 0;
      margin-bottom: 1em;
    }
    ul {
      list-style-type: none;
      padding-left: 0pt;
      line-height: 200%;
    }
    .sm-sections, .input-sections {
      display: flex;
    }
    .sm-sections {
      width: 51.4vw;
      min-width: 320px;
      padding: 10px 0 10px 10px;
      .sm-section {
        width: 25%;
      }
    }
    .input-sections {
      width: 38.5vw;
      min-width: 360px;
      padding-bottom: 8px;
      .nl-section {
        width: 53.2%;
        min-width: 260px; 
        input[type=text] {
          width: calc(53.2% - 43px);
        }
      }
      .stores-section {
        width: 46.2%;
        min-width: 150px;
      }
      .icons {
        margin-left: 0;
        margin-top: 15px;
      }
      .icons>svg:first-child {
        margin-right: 20px;
      }
    }
  }
  .footer-bottom {
    color: $medGray;
    background-color: black;
    a {
      text-decoration: underline;
      color: $medGray;
    }
    height: 60px;
    position: relative;
    width: 100vw;
    &:before{
      position: absolute;
      width: 90vw;
      height: 100%;
      left: 5vw;
      top: 0;
      content: '';
      border-top: 1px solid $medGray;
    }
  }
}

@media only screen and (min-width: 576px) {
  .xs-visible {
    display: none !important;
  }
}

@media only screen and (max-width: 575px) {
  body {
    font-size: 0.8em;
  }
  .xs-hidden {
    display: none !important;
  }
  .xs-newline:after {
    content: '\a';
    white-space: pre;
  }

  #header {
    height: 105px;
    margin-bottom: 0;
    .bottom-area {
      height: 70px;
      .icon {
        margin-right: 12px;
        height: 23px;
        width: auto;
      }
      .icons {
        margin-right: 10px;
      }
      .rings {
        transform: scale(0.7778);
        margin-top: 4px;
      }
      .menu-bars {
        margin-left: 20px;
      }
      .xs-menu > div {
        background-color: white;
        padding: 12px;
        width: 100vw;
        height: 20px;
        border-bottom: 1px solid $grayD;
      }
      .xs-menu {
        display: block;
        background-color: white;
        z-index: 50;
        position: absolute;
        margin-top: 35px;
        border-top: 1px solid $grayD;
        border-right: 1px solid $grayD;
        border-left: 1px solid $grayD;
        transform: scaleY(0);
        transition: transform 0.5s ease-in-out;
        transform-origin: top;
      }
      .active.xs-menu {
        transform: scaleY(1);
      }
      .menu-bars span, .menu-bars span:before, .menu-bars span:after {
        cursor: pointer;
        width: 18px;
        height: 2px;
        background-color: black;
        position: absolute;
        display: block;
        content: '';
      }
      .menu-bars span {
        &:before {
          top: -6px;
        } 
        &:after {
          bottom: -6px;
        }
      }
      .menu-bars span, .menu-bars span:before, .menu-bars span:after {
        transition: all 0.5s ease-in-out;
      }
      .menu-bars.active > span {
        background-color: transparent;
      }
      .menu-bars.active span:before, .menu-bars.active span:after {
        top: 0;
      }
      .menu-bars.active span {
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  #feats-deets {
    flex-direction: column-reverse;
    #features {
      margin: 0;
      width: 100vw;
      margin-bottom: calc(13.33vw + 20px);
      .bg-img {
        height: 80vw;
      }
      .slick-arrow {
        display: none !important;
      }
      .slick-dots {
        bottom: -14.1vw;
      }
      .slick-thumb {
        img, li {
          height: 13.33vw; //to bottom
          width: 13.33vw;
        }
      }
    }
    #prod-details {
      margin: 0 5.33vw 30px 5.33vw;
      width: 89.34vw;
    }
  }

  #recProds {
    padding: 8vw 2.4vw 3vw 2.4vw;
    margin-bottom: 16vw;
    text-align: center;
    h2 {
      padding: 0 0 15px 0;
      margin: 15px 0;
    }
  }
  .rec-sec {
    .bg-img {
      width: 46.666667vw;
      height: 53.333333vw;
      .tag-text {
        padding: 8px;
        margin: 1.6vw;
      }
    }
    .rec-caption {
      margin-bottom: 5vw;
      text-align: left;
    }
  }

  #footer { 
    .footer-top {
      height: 60px;
    }
    .footer-top > div:nth-child(2) {
      border: none;
    }
    .footer-middle {
      display: block;
      padding: 0;
      h4 {
        margin-bottom: -8px;
      }
      .input-sections {
        display: block;
        position: relative;
        width: 100vw !important;
        .nl-section {
          padding: 55px 10vw 40px 10vw;
          font-size: 1.3em;
          width: 80% !important;
          input[type=text] {
            padding-left: 0;
            padding-right: 0;
            width: calc(60vw - 40px);
          }
        }
      }
    }
    .xsf-menu {
      font-size: 1.3em;
      width: 100%;
      position: relative;
      height: 200px;
      padding: 0px 10vw 10px 10vw;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 222px;
      .xsf-section {
        min-height: 28px;
        padding-bottom: 18px;
      }
    }
  }
}